body {
  direction: rtl;
  font-family: "JF-Flat-regular", sans-serif;
  text-align: right; }

.ltr {
  direction: ltr; }

::placeholder {
  color: #969696 !important; }

.bg-none {
  background-color: transparent; }

.shadow-bottom {
  box-shadow: 0px 3px 0.5rem 0.25rem rgba(225, 225, 225, 0.7); }

.shadow-around {
  box-shadow: 0 0 0.5rem 0.25rem rgba(225, 225, 225, 0.7); }

.shadow-around-lg {
  box-shadow: 0 0 1rem 0.25rem rgba(225, 225, 225, 0.7); }

.no-decoration {
  text-decoration: none !important; }

.rounded-lg {
  border-radius: 10px; }

.rounded-top-lg {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.rounded-bottom-lg {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.rounded-curved {
  border-radius: 1.5rem; }

.overflow-hidden {
  overflow: hidden; }

.cursor {
  cursor: pointer; }

html,
body {
  font-size: 16px; }

.font-size-base {
  font-size: 16px; }

h1,
.h1 {
  font-size: 1.7rem; }

h2,
.h2 {
  font-size: 1.5rem; }

h3,
.h3 {
  font-size: 1.3rem; }

h4,
.h4 {
  font-size: 1.1rem; }

h5,
.h5 {
  font-size: 0.9rem; }

h6,
.h6 {
  font-size: 0.8rem; }

.text-sm {
  font-size: 0.7rem; }

.font-body {
  font-family: "JF-Flat-regular", sans-serif; }

.font-body-ultra-lt {
  font-family: "Din Next UltraLight", sans-serif; }

.font-body-lt {
  font-family: "Din Next Light", sans-serif; }

.font-body-md {
  font-family: "Din Next Medium", sans-serif; }

.font-body-bold {
  font-family: "SourceSansPro Bold", sans-serif; }

.font-body-black {
  font-family: "Din Next Black", sans-serif; }

.font-body-heavy {
  font-family: "Din Next Heavy", sans-serif; }

.font-body,
.font-body-ultra-lt,
.font-body-lt,
.font-body-md,
.font-body-bold,
.font-body-black,
.font-body-heavy {
  font-weight: normal; }

.row {
  padding: 0 !important;
  margin: 0 !important; }

.main-page {
  min-height: 100vh;
  transition: all 0.3s; }

.main-body {
  background: #37B26F;
  background-image: url(../img/01/Group-4.png), linear-gradient(-135deg, #37B26F 10%, #201E52 90%);
  background-position: center center, center center;
  background-size: cover , cover;
  background-repeat: no-repeat, no-repeat; }

.main-sidebar {
  min-width: 522px;
  max-width: 522px;
  min-height: 100vh;
  transition: all 0.3s; }
  @media (max-width: 992px) {
    .main-sidebar {
      min-width: 270px;
      max-width: 270px; } }

#main_sidbar.active {
  margin-right: -522px; }
  @media (max-width: 992px) {
    #main_sidbar.active {
      margin-right: -270px; } }

.login-head {
  font-size: 24px;
  margin-top: 120px; }

.login-form {
  margin-top: 120px; }
  .login-form input {
    border-bottom: 2px solid #E9E9F0 !important;
    font-size: 15px; }
  .login-form input::placeholder {
    color: #43425D !important;
    font-size: 15px; }

.checkbox {
  margin-top: 64px !important;
  font-size: 12px; }
  .checkbox .custom-control-label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.custom-control-label:before {
  display: none; }

/* Hide the browser's default checkbox */
input.custom-control-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: -20px;
  height: 13px;
  width: 13px;
  border-radius: 4px;
  border: 1px solid #808495;
  background-color: #fff; }

/* On mouse-over, add a grey background color */
.custom-control-label:hover input ~ .checkmark {
  background-color: #FFFFFF;
  border: 3px solid #37B26F; }

/* When the checkbox is checked, add a blue background */
.custom-control-label input:checked ~ .checkmark {
  background-color: #37B26F;
  border: 3px solid #37B26F; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.custom-control-label input:checked ~ .checkmark:after {
  display: block; }

.log-button {
  margin-top: 78px !important; }
  .log-button .login-btn {
    height: 56px;
    width: 142px;
    font-size: 12px !important;
    border: none;
    box-shadow: 0 3px 6px 0 #37B26F; }
  .log-button .register-link {
    font-size: 12px !important;
    line-height: 42px;
    height: 56px;
    width: 142px;
    color: #4D4F5C;
    border: 1px solid #43425D; }

.zaid-img {
  margin-top: 60px; }

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch; }

#content {
  min-height: 100vh;
  transition: all 0.3s; }

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background-image: linear-gradient(-180deg, #37B26F 10%, #201E52 90%);
  color: #fff;
  transition: all 0.3s; }
  #sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s; }
  #sidebar ul.components li {
    padding: 0; }
  #sidebar ul.components li span {
    font-size: 15px;
    margin-right: 12px; }
  #sidebar ul li a {
    padding: 17px 30px 17px 0;
    font-size: 1.1em;
    display: block; }
  #sidebar ul li a:hover {
    color: #fff;
    background: #186C3F; }
  #sidebar ul li.active {
    position: relative; }
    #sidebar ul li.active:after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      transform: rotateZ(45deg);
      left: -9px;
      top: 20px;
      background: #186C3F;
      box-shadow: 3px 3px 9px 0 #00BA81;
      z-index: -1; }
  #sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #186C3F;
    border-right: 14px solid #153B2F;
    box-shadow: 3px 3px 9px 0 #00BA81; }
  #sidebar ul ul {
    padding-right: 0px !important; }
  #sidebar ul ul a {
    padding-right: 65px !important;
    font-size: 14px; }
  @media (max-width: 768px) {
    #sidebar {
      margin-right: -300px; } }

.sidebar-header {
  padding: 22px 34px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05); }
  .sidebar-header h4 {
    font-size: 15px !important; }

#sidebar.active {
  margin-right: -300px; }
  @media (max-width: 768px) {
    #sidebar.active {
      margin-right: 0px; } }

#sidebarCollapse {
  border: 1px solid #EBEBF2;
  box-shadow: 0 0 2px 0px #EBEBF2;
  color: #BCBCCB; }

header.site-header {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04); }
  header.site-header .nav-user-name {
    font-size: 13px;
    border-right: 1px solid #EBEBF2;
    color: #4D4F5C; }
  header.site-header .nav-massage {
    color: #BCBCCB; }
  header.site-header .nav-notification {
    position: relative;
    color: #BCBCCB; }
    header.site-header .nav-notification:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #FF6A6A;
      left: 12px;
      top: 7px;
      border: 2px solid #FFFFFF; }
      @media (max-width: 1200px) {
        header.site-header .nav-notification:after {
          left: 4px; } }

.content-header .overlay {
  border-radius: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 4px; }

.content-left .overlay {
  padding: 10px;
  border-radius: 11px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.content-left .period-btn {
  font-size: 18px;
  border-radius: 27px;
  line-height: 40px; }

.content-left .modal-dialog {
  max-width: 800px !important; }

.content-left .ui-datepicker {
  width: 100% !important; }

.content-left .ui-datepicker-prev .ui-icon {
  background-image: url(../img/icons/right.png) !important;
  background-size: cover;
  background-position: 0 0; }

.content-left .ui-datepicker-next .ui-icon {
  background-image: url(../img/icons/left.png) !important;
  background-size: cover;
  background-position: 0 0; }

.content-left .ui-widget-header {
  border: none;
  background: transparent; }

.content-left .ui-widget-content {
  color: #A3A6B4; }

.content-left #calendar_from .ui-widget-header {
  color: #37B26F; }

.content-left #calendar_from .ui-button.ui-state-active:hover,
.content-left #calendar_from .ui-button:active, .content-left #calendar_from .ui-state-active,
.content-left #calendar_from .ui-widget-content .ui-state-active,
.content-left #calendar_from .ui-widget-header .ui-state-active,
.content-left #calendar_from a.ui-button:active {
  background: rgba(55, 178, 111, 0.2);
  color: #37B26F;
  font-weight: 400;
  border-radius: 50%;
  font-size: 16px; }

.content-left #calendar_from .ui-state-highlight,
.content-left #calendar_from .ui-widget-content .ui-state-highlight,
.content-left #calendar_from .ui-widget-header .ui-state-highlight {
  background: rgba(232, 62, 140, 0.1);
  color: rgba(232, 62, 140, 0.5);
  border-radius: 50%; }

.content-left #calendar_to .ui-widget-header {
  color: #FF6A6A; }

.content-left #calendar_to .ui-button.ui-state-active:hover,
.content-left #calendar_to .ui-button:active, .content-left #calendar_to .ui-state-active,
.content-left #calendar_to .ui-widget-content .ui-state-active,
.content-left #calendar_to .ui-widget-header .ui-state-active,
.content-left #calendar_to a.ui-button:active {
  background: rgba(255, 106, 106, 0.2);
  color: #FF6A6A;
  font-weight: 400;
  border-radius: 50%; }

.content-left #calendar_to .ui-state-highlight,
.content-left #calendar_to .ui-widget-content .ui-state-highlight,
.content-left #calendar_to .ui-widget-header .ui-state-highlight {
  background: rgba(232, 62, 140, 0.1);
  color: rgba(232, 62, 140, 0.5);
  border-radius: 50%; }

.content-left .ui-widget.ui-widget-content {
  border: none; }

.content-left .ui-datepicker table thead {
  border-bottom: 1px solid #E9E9F0; }

.content-left .ui-button, .content-left .ui-state-default,
.content-left .ui-widget-content .ui-state-default,
.content-left .ui-widget-header .ui-state-default {
  border: none; }

.content-left .ui-state-default, .content-left .ui-widget-content .ui-state-default {
  background: #fff; }

.content-left .ui-datepicker td a, .content-left .ui-datepicker td span {
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 15px;
  line-height: 20px;
  color: #43425D;
  font-family: 'SourceSansPro Regular';
  font-size: 16px; }

.content-title h3 {
  font-family: 'lubalingraphitcturner-boldarabic';
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 140px;
  margin-top: 30px; }

.checkbox-main {
  margin-right: 75px; }
  .checkbox-main .custom-control-label {
    font-family: 'lubalingraphitcturner-boldarabic';
    font-size: 25px;
    color: #FF6A6A;
    line-height: 33px;
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .checkbox-main .custom-control-label-notary {
    font-family: 'JF-Flat-regular';
    font-size: 18px;
    color: #4D4F5C;
    line-height: 31px;
    margin-top: 35px; }

/* Create a custom checkbox */
.checkmark-main {
  position: absolute;
  top: 3px;
  right: -40px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.15);
  background-color: #fff; }

/* On mouse-over, add a grey background color */
.custom-control-label:hover input ~ .checkmark-main {
  background-color: #FFFFFF;
  border: 3px solid #37B26F; }

/* When the checkbox is checked, add a blue background */
.custom-control-label input:checked ~ .checkmark-main {
  border: 3px solid #37B26F; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-main:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.custom-control-label input:checked ~ .checkmark-main:after {
  display: block; }

/* Style the checkmark/indicator */
.custom-control-label .checkmark-main:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00BA81; }

.content-text {
  margin-right: 35px; }
  .content-text h4 {
    font-family: 'lubalingraphitcturner-boldarabic';
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 140px;
    margin-top: 10px;
    color: #4D4F5C; }

.content-left .overlay p {
  font-size: 18px;
  margin: 20px 8px 40px 0; }

.checkbox-small .custom-control-label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Create a custom checkbox */
.checkmark-small {
  position: absolute;
  top: 3px;
  right: 3px;
  opacity: 0.2;
  height: 19px;
  width: 19px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.49);
  background-color: #3B86FF; }

/* On mouse-over, add a grey background color */
.label-sm:hover input ~ .checkmark-small {
  background-color: #FFFFFF;
  opacity: 1; }

/* When the checkbox is checked, add a blue background */
.label-sm input:checked ~ .checkmark-small {
  background: #FFFFFF;
  opacity: 1; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-small:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.label-sm input:checked ~ .checkmark-small:after {
  display: block; }

/* Style the checkmark/indicator */
.label-sm .checkmark-small:after {
  right: 6.5px;
  top: 5px;
  width: 6px;
  height: 8px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.label-sm {
  height: 130px;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.2s all;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35); }
  .label-sm:hover {
    box-shadow: 4px 4px 6px #37B26F; }

.label-half {
  background-image: url(../img/charts/half-light.png); }
  .label-half:hover {
    background-image: url(../img/charts/half-dark.png); }

.label-bar {
  background-image: url(../img/charts/bar-light.png); }
  .label-bar:hover {
    background-image: url(../img/charts/bar-dark.png); }

.label-line {
  background-image: url(../img/charts/line-light.png); }
  .label-line:hover {
    background-image: url(../img/charts/line-dark.png); }

.label-circle {
  background-image: url(../img/charts/circle-light.png); }
  .label-circle:hover {
    background-image: url(../img/charts/circle-dark.png); }

/* When the checkbox is checked, add a blue background */
input#customCheck-bar:checked ~ #label-bar {
  background-image: url(../img/charts/bar-dark.png); }

.checkbox-small.checked-bar .label-bar {
  background-image: url(../img/charts/bar-dark.png);
  box-shadow: 4px 4px 6px #37B26F; }

.checkbox-small.checked-line .label-line {
  background-image: url(../img/charts/line-dark.png);
  box-shadow: 4px 4px 6px #37B26F; }

.checkbox-small.checked-half .label-half {
  background-image: url(../img/charts/half-dark.png);
  box-shadow: 4px 4px 6px #37B26F; }

.checkbox-small.checked-circle .label-circle {
  background-image: url(../img/charts/circle-dark.png);
  box-shadow: 4px 4px 6px #37B26F; }

.card {
  border: none;
  border-radius: 10px; }

.card-header {
  border-radius: 10px 10px 0 0 !important;
  font-size: 20px;
  color: #FFFFFF; }

.notaries-half-chart-col .card-header,
.notaries-circle-chart-col .card-header {
  font-size: 14px; }

.notaries-half-chart-col .col-12,
.notaries-circle-chart-col .col-12 {
  flex: 0 0 20% !important;
  max-width: 20% !important; }
  @media (max-width: 1432px) {
    .notaries-half-chart-col .col-12,
    .notaries-circle-chart-col .col-12 {
      flex: 0 0 25% !important;
      max-width: 25% !important; } }
  @media (max-width: 1210px) {
    .notaries-half-chart-col .col-12,
    .notaries-circle-chart-col .col-12 {
      flex: 0 0 33.33% !important;
      max-width: 33.33% !important; } }
  @media (max-width: 690px) {
    .notaries-half-chart-col .col-12,
    .notaries-circle-chart-col .col-12 {
      flex: 0 0 50% !important;
      max-width: 50% !important; } }
  @media (max-width: 472px) {
    .notaries-half-chart-col .col-12,
    .notaries-circle-chart-col .col-12 {
      flex: 0 0 100% !important;
      max-width: 100% !important; } }

.card-title {
  font-size: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

.card-danger {
  box-shadow: 0 3px 20px #FF6A6A; }
  .card-danger .card-header, .card-danger img {
    box-shadow: 0 3px 6px #FF6A6A; }
  .card-danger .card-title {
    color: #FF6A6A; }

.card-teal {
  box-shadow: 0 3px 20px #00BA81; }
  .card-teal .card-header, .card-teal img {
    box-shadow: 0 3px 6px #00BA81; }
  .card-teal .card-title {
    color: #00BA81; }

.card-cyan {
  box-shadow: 0 3px 20px #3B86FF; }
  .card-cyan .card-header, .card-cyan img {
    box-shadow: 0 3px 6px #3B86FF; }
  .card-cyan .card-title {
    color: #3B86FF; }

.card-warning {
  box-shadow: 0 3px 20px #E5A100; }
  .card-warning .card-header, .card-warning img {
    box-shadow: 0 3px 6px #E5A100; }
  .card-warning .card-title {
    color: #E5A100; }

.card-purple {
  box-shadow: 0 3px 20px #6f42c1; }
  .card-purple .card-header {
    box-shadow: 0 3px 6px #6f42c1; }
  .card-purple .card-title {
    color: #6f42c1; }

.card-rose {
  box-shadow: 0 3px 20px #FF07A9; }
  .card-rose .card-header {
    box-shadow: 0 3px 6px #FF07A9; }
  .card-rose .card-title {
    color: #FF07A9; }

.card-light-red {
  box-shadow: 0 3px 20px #FF6A6A; }
  .card-light-red .card-header {
    box-shadow: 0 3px 6px #FF6A6A; }
  .card-light-red .card-title {
    color: #FF6A6A; }

.card-dark-red {
  box-shadow: 0 3px 20px #D9581F; }
  .card-dark-red .card-header {
    box-shadow: 0 3px 6px #D9581F; }
  .card-dark-red .card-title {
    color: #D9581F; }

.card-indigo {
  box-shadow: 0 3px 20px #3349F0; }
  .card-indigo .card-header {
    box-shadow: 0 3px 6px #3349F0; }
  .card-indigo .card-title {
    color: #3349F0; }

.card-dark-green {
  box-shadow: 0 3px 20px #1A8162; }
  .card-dark-green .card-header {
    box-shadow: 0 3px 6px #1A8162; }
  .card-dark-green .card-title {
    color: #1A8162; }

.card-maron {
  box-shadow: 0 3px 20px #711466; }
  .card-maron .card-header {
    box-shadow: 0 3px 6px #711466; }
  .card-maron .card-title {
    color: #711466; }

.card-rody {
  box-shadow: 0 3px 20px #4D4F5C; }
  .card-rody .card-header {
    box-shadow: 0 3px 6px #4D4F5C; }
  .card-rody .card-title {
    color: #4D4F5C; }

.card-maroon {
  box-shadow: 0 3px 20px #B51E1E; }
  .card-maroon .card-header {
    box-shadow: 0 3px 6px #B51E1E; }
  .card-maroon .card-title {
    color: #B51E1E; }

.bar-chart-col,
.line-chart-col,
.bar_line_chart_col {
  margin-top: 32px; }

.chart-small {
  box-shadow: 3px 3px 20px #6f42c1;
  border-radius: 14px; }

.line-chart-col {
  display: none; }

.chart-row {
  transition: 1s all ease-in; }

.chart-row.lineChart .bar_line_chart_col {
  display: block !important; }

.chart-row.lineChart .bar-chart-col {
  display: none; }

.chart-row.lineChart .line-chart-col {
  display: block !important; }

.chart-row.lineChart .circle-chart-col {
  display: none; }

.chart-row.lineChart .half-chart-col {
  display: none; }

.chart-row.barChart .bar_line_chart_col {
  display: block !important; }

.chart-row.barChart .line-chart-col {
  display: none; }

.chart-row.barChart .bar-chart-col {
  display: block !important; }

.chart-row.barChart .circle-chart-col {
  display: none; }

.chart-row.barChart .half-chart-col {
  display: none; }

.chart-row.circleChart .bar_line_chart_col {
  display: none; }

.chart-row.circleChart .bar-chart-col {
  display: none; }

.chart-row.circleChart .line-chart-col {
  display: none; }

.chart-row.circleChart .circle-chart-col {
  display: block !important; }

.chart-row.circleChart .half-chart-col {
  display: none; }

.chart-row.halfChart .bar_line_chart_col {
  display: none; }

.chart-row.halfChart .bar-chart-col {
  display: none; }

.chart-row.halfChart .line-chart-col {
  display: none; }

.chart-row.halfChart .circle-chart-col {
  display: none; }

.chart-row.halfChart .half-chart-col {
  display: block !important; }

.circle-chart-col .card-body {
  position: relative; }
  .circle-chart-col .card-body span {
    font-family: 'SourceSansPro Bold';
    font-size: 39px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }

.transaction,
.employStat,
.elecStat,
.employLate,
.transactionTypes,
.employeTransactionTypes {
  transition: 0.5s all ease-in; }

.chart-row.transaction .transaction {
  display: block !important; }

.chart-row.transaction .employStat {
  display: none; }

.chart-row.transaction .elecStat {
  display: none; }

.chart-row.transaction .employLate {
  display: none; }

.chart-row.transaction .transactionTypes {
  display: none; }

.chart-row.transaction .employeTransactionTypes {
  display: none; }

.chart-row.employStat .transaction {
  display: none; }

.chart-row.employStat .employStat {
  display: block !important; }

.chart-row.employStat .elecStat {
  display: none; }

.chart-row.employStat .employLate {
  display: none; }

.chart-row.employStat .transactionTypes {
  display: none; }

.chart-row.employStat .employeTransactionTypes {
  display: none; }

.chart-row.elecStat .transaction {
  display: none; }

.chart-row.elecStat .employStat {
  display: none; }

.chart-row.elecStat .elecStat {
  display: block !important; }

.chart-row.elecStat .employLate {
  display: none; }

.chart-row.elecStat .transactionTypes {
  display: none; }

.chart-row.elecStat .employeTransactionTypes {
  display: none; }

.chart-row.employLate .transaction {
  display: none; }

.chart-row.employLate .employStat {
  display: none; }

.chart-row.employLate .elecStat {
  display: none; }

.chart-row.employLate .employLate {
  display: block !important; }

.chart-row.employLate .transactionTypes {
  display: none; }

.chart-row.employLate .employeTransactionTypes {
  display: none; }

.chart-row.transactionTypes .transaction {
  display: none; }

.chart-row.transactionTypes .employStat {
  display: none; }

.chart-row.transactionTypes .elecStat {
  display: none; }

.chart-row.transactionTypes .employLate {
  display: none; }

.chart-row.transactionTypes .transactionTypes {
  display: block !important; }

.chart-row.transactionTypes .employeTransactionTypes {
  display: none; }

.chart-row.employeTransactionTypes .transaction {
  display: none; }

.chart-row.employeTransactionTypes .employStat {
  display: none; }

.chart-row.employeTransactionTypes .elecStat {
  display: none; }

.chart-row.employeTransactionTypes .employLate {
  display: none; }

.chart-row.employeTransactionTypes .transactionTypes {
  display: none; }

.chart-row.employeTransactionTypes .employeTransactionTypes {
  display: block !important; }

.table-responsive .modal {
  top: 50%;
  transform: translateY(-50%); }

.nav-tabs .nav-link {
  border: none;
  color: #201E52; }
  .nav-tabs .nav-link.active {
    border-bottom: 4px solid #37B26F;
    color: #37B26F; }

.dropdown-toggle:after {
  margin-left: auto;
  margin-right: 0.255em; }

.custom-select {
  background-position: left 0.75rem center;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem; }

.custom-control-label::before,
.custom-control-label::after {
  left: auto;
  right: -1.5rem; }

.multi-forms .custom-file label > span {
  border-style: dashed !important; }

.multi-forms .selectize-input > input,
.multi-forms .selectize-dropdown.multi {
  font-size: 16px; }
  .multi-forms .selectize-input > input .create,
  .multi-forms .selectize-dropdown.multi .create {
    padding: 0.5rem;
    background-color: #FFFFFF; }

.multi-forms .selectize-dropdown.multi {
  border-color: #969696; }

.multi-forms .selectize-control.multi .selectize-input {
  border-color: #969696;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 16px;
  padding: 0.375rem 0.75rem; }
  .multi-forms .selectize-control.multi .selectize-input > div {
    background-color: #37B26F;
    border-radius: 1rem;
    color: #FDFDFD;
    font-size: 16px;
    font-family: "Din Next Medium", sans-serif;
    padding: 0.125rem 1rem; }
